Autodesk
borders
btop
cd web
configstore
darktable
fish
gatsby
gh
github-copilot
iterm2
karabiner
linearmouse
neofetch
neovide
qBittorrent
raycast/extensions
sketchybar
spicetify
spotify-player
warpd
xnviewmp
zathura
zed
.DS_Store
